h1{
    font-family: Lucida Console, monospace;
    text-align:center;
    margin-top: 70px;
}

p{
    font-family: Calibri, serif;
     text-align:center;
}


table, th, td {
   border: 1px solid black;
    border-style: groove;
    border-color:darkblue;
    border-spacing: 10px;
}